<!DOCTYPE html>
<html>
<head>
  <title>Admin Upload</title>


</head>


<body k>


  <ul class="grid-list">

    <li>
      <div class="service-card">
      <h2>service image 1</h2>


<figure class="card-banner img-holder">
  <img src="/uploads/cake1.jpeg" width="285" height="336" loading="lazy" alt="Breakfast" class="img-cover">
</figure>


 <form action="/upload/cake1" method="post" enctype="multipart/form-data">
  <label>Change Cake 1:</label>
  <input type="file" name="image" required>
  <button type="submit">Upload</button>
</form>
</div>

    </li>


<li>

  <h2>service image 2</h2>
<figure class="card-banner img-holder">
  <img src="/uploads/cake2.jpeg" width="285" height="336" loading="lazy" alt="Breakfast" class="img-cover">
</figure>  <form action="/upload/cake2" method="post" enctype="multipart/form-data">
    <label>Change Cake 1:</label>
    <input type="file" name="image" required>
    <button type="submit">Upload</button>
  </form>
</li>

<li>

  <h2>service image 3</h2>
<figure class="card-banner img-holder">
  <img src="/uploads/cake3.jpeg" width="285" height="336" loading="lazy" alt="Breakfast" class="img-cover">
</figure>
  <form action="/upload/cake3" method="post" enctype="multipart/form-data">
    <label>Change Cake 1:</label>
    <input type="file" name="image" required>
    <button type="submit">Upload</button>
  </form>
  </ul>

</li>


</body>
</html>